@font-face {
  font-family: "ProductSans";
  src: url("/Product Sans Regular.ttf") format("truetype");
}
html {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.topBar {
  padding: 1.5%;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.topBar .rightLinks {
  margin-left: auto;
}
.topBar .rightLinks a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  display: inline-block;
  padding-right: 1.6vw;
}
.topBar .rightLinks a:hover {
  text-decoration: underline;
}

.centerDiv {
  margin: auto;
  margin-top: 55px;
  padding: 2%;
  text-align: center;
  width: min(584px, 90%);
}
.centerDiv .logoImg {
  width: min(90%, 272px);
  margin-bottom: 1.45vw;
}
.centerDiv .searchBarDiv {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 2.86vw;
  margin: auto;
  display: flex;
  min-height: 30px;
}
.centerDiv .searchBarDiv:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: transparent;
}
.centerDiv .searchBarDiv .lensIconDiv {
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerDiv .searchBarDiv .lensIconDiv .lensIcon {
  width: 35%;
  margin: auto;
}
.centerDiv .searchBarDiv .searchBar {
  width: 100%;
  height: 100%;
  margin: auto;
  border: none;
  background: none;
  font-size: 1rem;
}
.centerDiv .searchBarDiv .searchBar:focus {
  outline: none;
}
.centerDiv .buttonsDiv {
  padding-top: 4%;
}
.centerDiv .buttonsDiv .buttonDiv {
  display: inline-block;
}
.centerDiv .buttonsDiv .buttonDiv .searchButton {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  margin: 0 0.3125rem;
}
.centerDiv .buttonsDiv .buttonDiv .searchButton:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
  cursor: pointer;
}

.smallLogo {
  height: 24px;
}

.h2Div {
  border-bottom: solid 1px #dfe1e5;
}
.h2Div h2 {
  color: #d93025;
  font-weight: normal;
  font-size: 20px;
}

.leftDiv {
  margin: 1.6vw 3vw;
  width: 75%;
}
.leftDiv h3 {
  color: #333;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 25px;
  width: 65%;
  display: inline-block;
}
.leftDiv h4 {
  font-size: 13px;
  font-weight: 700;
  color: #777;
  display: inline-block;
  padding-left: 15px;
}
.leftDiv label {
  color: #222;
  font-size: min(13px, 2.5vw);
  display: inline-block;
  width: 15%;
  box-sizing: border-box;
}
.leftDiv input {
  height: 25px;
  width: 50%;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  border-radius: 1px;
  padding: 1px 8px;
  margin-right: 10px;
  margin-bottom: 17px;
  font-size: 13px;
  box-sizing: border-box;
}
.leftDiv input:focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #4d90fe;
  outline: none;
}
.leftDiv .exp {
  display: inline-block;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
}
.leftDiv .exp span {
  color: #666;
  font-family: monospace;
}
.leftDiv .lastExp {
  display: inline-grid;
}
.leftDiv .advancedSearchButtonDiv {
  text-align: right;
  padding-top: 5px;
  width: 65%;
}
.leftDiv .advancedSearchButtonDiv #advancedSearchButton {
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  border-radius: 2px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  height: 30px;
  min-width: 120px;
}
.leftDiv .advancedSearchButtonDiv #advancedSearchButton:hover {
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
}

.bottomDiv {
  border-bottom: solid 1px #dfe1e5;
  padding-bottom: 25px;
}

@media (max-width: 1360px) {
  .leftDiv {
    width: 100%;
  }
  .leftDiv .exp,
  .leftDiv .lastExp,
  .leftDiv h4 {
    display: none;
  }
  .leftDiv label {
    width: 30%;
  }
  .leftDiv .advancedSearchButtonDiv {
    width: 80%;
  }
  h4 {
    display: none;
  }
}
@media (max-width: 750px) {
  .centerDiv .buttonsDiv .buttonDiv .searchButton {
    margin: unset;
  }
}
@media (max-width: 303.5px) {
  .centerDiv .buttonsDiv .buttonDiv .searchButton {
    margin-bottom: 2px;
  }
}
@media (max-height: 300px) {
  .centerDiv {
    margin-top: unset;
  }
}

/*# sourceMappingURL=style.css.map */
